:root {
  --primary-color: #00A86B;
  --secondary-color: #006942;
  --background-color: #f4f4f4;
  --text-color: #fff;
  font-family: "Camber SemiBold Regular", sans-serif;
  --menu-background-color: #00A86B;
  --menu-text-color: #000;
  --menu-font-family: Arial, sans-serif;
}



/* DASHBOARD */
.dashboard-container {
  display: flex;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  padding: 20px;
}


/* RESPONSIVO */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar ul li a {
    font-size: 14px;
    padding: 10px;
  }

  .dashboard-content {
    margin-left: 60px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row label {
    margin-right: 0;
  }
}
