@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;600');

/* Fondo oscuro al abrir el menú */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1999;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* SIDEBAR MENU */
#sidebarMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, var(--secondary-color) 0%, #3a4d72 100%);
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
  z-index: 2000; /* Se sobrepone a todo */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

/* Sidebar abierta */
#sidebarMenu.open {
  transform: translateX(0);
}

/* Lista de elementos del menú */
.sidebarMenuInner {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li {
  color: #fff;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease;
}

.sidebarMenuInner li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  transition: background 0.3s ease;
}

.sidebarMenuInner li a svg {
  margin-right: 15px;
  font-size: 20px;
}

.sidebarMenuInner li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li.active {
  background-color: var(--primary-color);
}

.sidebarMenuInner li.active a {
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  #sidebarMenu {
    width: 250px;
  }
}

@media (max-width: 480px) {
  #sidebarMenu {
    width: 100%; /* Ocupará toda la pantalla en móviles */
  }
}
